html, body{
    margin: 0;
}

body{
    background-image:url(multimedia/taller-mecanico.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
}

h1{
    font-family: Poppins;
}

.main{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100% ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__cont-form{
    background-color: rgb(172, 172, 172);
    max-width: 450px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}

.main__cont-form__fields{
    margin-bottom: 10px;
}

.main__cont-form__fields input{
    width: 250px;
    height: 30px;
    border: 1px solid rgb(236, 99, 99);
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    ba
}

input#user-email{
    background-image: url("multimedia/outline_person_black_24dp.png");
    background-repeat: no-repeat;
    background-color: rgb(184, 184, 240);
    padding-left: 55px;
    background-position: 5px;

}

input#user-pass{
    background-image: url("multimedia/outline_password_black_24dp.png");
    background-repeat: no-repeat;
    background-color: rgb(184, 184, 240);
    padding-left: 55px;
    background-position: 5px;
}

#condiciones{
    font-size: 10px;
    margin-left: 5px;
}

input#condiciones-input{
    width: auto;
    height: 20px;
    width: 20px;
    margin-top: 10px;
}

[for="checkbox"]{
    position: relative;
    top: -5px;
    margin-left: 5px;
    text-decoration: wavy;
}

#condiciones-aref{
    position: relative;
    top: -5px;
}


button{
    background-color: orangered;
    border: 0;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Poppins';
    color: #fff;
}

