* {
    background-color:rgb(153, 138, 51);
}

.galeria_coches{
  border: 2px solid silver;
  position: relative;
  width: 360px;
  height: 250px;
  margin: 1em auto;
}

.galeria_coches img{
  position: absolute;
  background-color: aliceblue;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
} 

.galeria_coches input[type="radio"]{
  position: relative;
  top: 260px;
  margin-left: 60px;
}

.galeria_coches input[type="radio"]:nth-of-type(1):checked ~ img:nth-of-type(1){
  opacity: 1;
}
.galeria_coches input[type="radio"]:nth-of-type(2):checked ~ img:nth-of-type(2){
  opacity: 1;
}
.galeria_coches input[type="radio"]:nth-of-type(3):checked ~ img:nth-of-type(3){
  opacity: 1;
}
.galeria_coches input[type="radio"]:nth-of-type(4):checked ~ img:nth-of-type(4){
  opacity: 1;
}

