.container{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.square{
    width: 800px;
    height: 200px;
    background: red;
}

.imagen-responsive{
    display: none;
    height: 100%;
    width: 100%;
}

@media screen AND (max-width: 500px) {
    .square{
        width: 300px;
        height: 50px;
        background: green;
    }
    .video-responsive iframe{
    display: none;    
    }
    .imagen-responsive{
        display: flex;
        justify-content: center;
        height: fit-content;
        width: 300px;
        height: 50px;
    }
}
