.contenedor{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 2s ease;
}

#square1:hover {
  transform: rotate(180deg);
}

#square2:hover {
    transform:translate(100px);
    transition: all 2s ease;
    background: white;
  }